
<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  div.box {
	width: 40%;
	display: inline-block;
    margin-left: auto;
    margin-right: 20px;
}
</style>
